/* styles.css */
/* Reset some default styles */

#main {
  width: flex;
  height: flex;
  border: 1px solid black;
  display: flex;
}

/* Style the navigation list items (links) */
.navigation li {
                display: block;
                margin: 0;
				color: blue;
				background-color: #024;
				white-space: wrap;
            }

/* Style the navigation links */
.navigation a {
    text-decoration: none;
    color: #52024f;
    font-weight: bold;
    transition: color 0.5s;
}

/* Style the navigation links on hover */
.navigation a:hover {
				background-color: blue;
				color: #52024f;
				white-space: wrap;
            }

/* Style the footer */

footer {
            background-color: #024;
            color: white;
            text-align: center;
            padding: 10px;
            clear: both; /* Clear floating elements */
			margin-right: 5px;
        }
 
   
        /* Add your custom CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #024;
            color: white;
            text-align: center;
            padding: 5px;
        }

        header h2 {
            margin: 0;
        }

        header h3 {
            margin: 0;
        }

        .navigation {
            list-style: none;
            padding: 0;
        }

        .navigation li {
            display: inline;
            margin-right: 10px;
        }

        .navigation a {
            text-decoration: none;
            color: white;
        }

        .container {
            min-height: 100vh; /* Ensure the container is at least the height of the viewport */
			display: flex;
			flex-direction: column;
			background-color: white;
			padding: 20px;
			margin: 20px;
        }

        .blog {
            flex: 100px; /* Expand the iframe section to fill available space */
			background-color: white;
			padding: 0px;
			margin: 0px;
        }

        iframe {
            width: 100%;
			height: 100%;
			border: 0;
        }

       
		
       
    