/* styles.css */
/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F8F8F8;
}

/* Apply a background image to the header */
header {
    
    background-size: cover; /* Scale the background image to cover the header */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image horizontally and vertically */
    padding: 20px;
    margin: 0;
    height: 150px;
    color: #000000; /* You can set the text color to white to improve readability */
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}
@media (max-width: 768px) {
    /* CSS rules for smaller screens */
    .container {
        width: 100%;
    }
    .navigation {
        font-size: 14px;
    }
    .navigation li {
        margin: 0 10px;
    }
}

/* Style the main heading */
h1 {
    font-size: 2rem;
    margin: 0;
	color: #000000;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
}

h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 0;
	color: #000000;
}

.container {
    font-family: Arial, sans-serif;
   }


.about {
    margin: 2rem 0;
   }
   
   .about-content,
   .about-music {
    margin-bottom: 2rem;
   }
   
   .about-content p {
    margin-bottom: 1rem;
   }
   
   .about-music iframe {
    margin-bottom: 2rem;
   }

   .market {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
    gap: 20px; /* Add some spacing between items */
}

.market-item {
    border: 1px solid #ccc;
    padding: 10px;
    /* You can add more styling here for your items */
}
/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

iframe {
    border-radius: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #0056b3;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 10px;
}

footer {
    position: relative;
    bottom: 0;
    background: #435;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #435;
    color: #FFFF;
    padding: 20px;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


nav {
    background-color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}
.container {
    font-family: Arial, sans-serif;
   }

.blog {
    flex: 1; /* Expand the iframe section to fill available space */
}